**Write a program that asks the user for an integer and creates a list that consists of the factors of that
integer.**

In [10]:
n=int(input('enter an positive integer'))
l=[]
for i in range(1,n+1):
    if n%i==0:
        l.append(i)
print(l)

enter an positive integer 12

[1, 2, 3, 4, 6, 12]

**Ask the user to enter a list containing numbers between 1 and 12. Replace all entries in the list that
are greater than 10 with 10.**

In [12]:
s=list(map(int,input('enter elements').split()))
s
for i in range(len(s)):
    if s[i]>10:
        s[i]=10
print(s)

enter some elements 12 11 10

[10, 10, 10]

**1. List Operations with User Input
Write a program that asks the user to enter a list of integers. Perform the following tasks:
(a) Print the total number of items in the list.
(b) Print the last item in the list.
(c) Print the list in reverse order.
(d) Print &quot;Yes&quot; if the list contains a 5 and &quot;No&quot; otherwise.
(e) Print the number of fives in the list.
(f) Remove the first and last items from the list, sort the remaining items, and print the result.
(g) Print how many integers in the list are less than 5.**

In [16]:
s=list(map(int,input('enter elements').split()))
len(s)

enter some elements 1 2 3 4

4

In [3]:
s=list(map(int,input('enter  elements').split()))
q=len(s)
print(s[q-1])

enter  elements 1 2 3 5 25 52 16 18 19

19

In [5]:
s[-1:-len(s)-1:-1]

[19, 18, 16, 52, 25, 5, 3, 2, 1]

**Print &quot;Yes&quot; if the list contains a 5 and &quot;No&quot; otherwise.**

In [7]:
for i in s:
    if i==5:
        print("Yes")

Yes

In [19]:
for i in s:
    if i==5:
        print("Yes")
    else:
        print("no")

no
no
no
Yes
no
no
no
no
no

In [13]:
s.count(5)

1

**Remove the first and last items from the list, sort the remaining items, and print the result.**

In [65]:
s=list(map(int,input('enter  elements').split()))
l=s[1:len(s)-1:1]
l.sort()
l

enter  elements 1 2 3 4 5 6

[2, 3, 4, 5]

**// floor division gives only**

In [1]:
def fllordivision():
    return a//b
a=int(input('enter a num'))
b=int(input('enter num'))
fllordivision()

enter a num 21
enter num 8

2

In [5]:
def fllordivision(a,b):
    return a//b
a=[13,16,19]
b=[12,23,34]
r=map(fllordivision,a,b)
for i in r:
    print(i)

1
0
0

In [ ]:
s=list(map(int,input('enter numbers').split()))
for i in range(len(s)):
    if s[i]<5:
        print(s[i])

**2. Random Number List Analysis
Write a program that generates a list of 20 random numbers between 1 and 100. Perform the
following tasks:**

#(a) Print the list.
#(b) Print the average of the elements in the list.
#(c) Print the largest and smallest values in the list.
#(d) Print the second largest and second smallest entries in the list.
#(e) Print how many even numbers are in the list.

In [2]:
import random
l=[]
avg=0
count=0
for i in range(1,20):
    s=random.randint(1,100) 
    l.append(s)
    avg=avg+s
    count=count+1
print(f'list is {l} and average of the elements in list is {avg/count}')# question a and b

list is [8, 13, 50, 49, 46, 10, 48, 22, 65, 92, 87, 75, 92, 14, 14, 26, 65, 18, 46] and average of the elements in list is 44.21052631578947

In [33]:
#c and d question
import random
numbers=[]
for i in range(1,20):
    s=random.randint(1,100) 
    numbers.append(s)
print(numbers)
# Using loops
largest = numbers[0]
smallest = numbers[0]
for num in numbers:
    if num > largest:
        largest = num
    if num < smallest:
        smallest = num
print("Largest:", largest)
print("Smallest:", smallest)

[57, 87, 81, 7, 87, 35, 37, 21, 67, 68, 52, 20, 3, 30, 34, 13, 83, 51, 25]
Largest: 87
Smallest: 3

In [33]:
import random
numbers=[]
for i in range(1,20):
    s=random.randint(1,100) 
    numbers.append(s)
print(numbers)
from functools import reduce
largest=reduce(lambda x,y:x if x>y else y ,numbers)
smallest=reduce(lambda x,y:x if x<y else y,numbers)
print("largest value is",largest)
print("smallest value is",smallest)
#using lambda function
#if output,if condition, else ,else output,varaible name assigned to datatype i.e only list  loop

[9, 50, 63, 96, 24, 5, 49, 2, 38, 76, 16, 68, 76, 5, 12, 30, 72, 29, 45]
largest value is 96
smallest value is 2

In [13]:
numbers={1,12,9,19,18,23,16,29,31,28,37,39,25,53,31,67,59}
from functools import reduce
largest=reduce(lambda x,y:x if x>y else y ,numbers)
smallest=reduce(lambda x,y:x if x<y else y,numbers)
print("largest value is",largest)
print("smallest value is",smallest)

largest value is 67
smallest value is 1

In [17]:
import random
numbers=[]
for i in range(1,20):
    s=random.randint(1,100) 
    numbers.append(s)
numbers.sort()
print(f'2nd largest number is: {numbers[-2]}')
print(f'2nd smallest number is: {numbers[1]}')

2nd largest number is: 83
2nd smallest number is: 1

**3. Modify and Transform a Predefined List**

    
**Start with the list [8, 9, 10]. Perform the following tasks:**
    
**(a) Set the second entry (index 1) to 17.**
    
**(b) Add 4, 5, and 6 to the end of the list.**

**(c) Remove the first entry from the list.**

**(d) Sort the list.**

  **(e) Double the list.**

  **(f) Insert 25 at index 3.**
**The final list should equal [4, 5, 6, 25, 10, 17, 4, 5, 6, 10, 17].**

In [1]:
l=[8,9,10]
l[1]=17
l

[8, 17, 10]

In [3]:
a=4
for i in range(3):
    l.append(a)
    a+=1
l

[8, 17, 10, 4, 5, 6]

In [5]:
l.remove(8)
l

[17, 10, 4, 5, 6]

In [7]:
l.sort()
l

[4, 5, 6, 10, 17]

In [9]:
r=l+l
r

[4, 5, 6, 10, 17, 4, 5, 6, 10, 17]

In [11]:
r.insert(3,25)
r

[4, 5, 6, 25, 10, 17, 4, 5, 6, 10, 17]

In [ ]:
#doubling the each element in list 
j=0
for i in l:
    l[j]=i*2
    j+=1
l

In [11]:
l.insert(3,25)
l

[8, 10, 12, 25, 20, 34]

**5. Modify Strings in a List**
    
**Ask the user to enter a list of strings. Create a new list that consists of those strings with their first
characters removed.**

In [11]:
lstr=list(input('enter list of strings').split())
for i in lstr:
    print(i[1:])

enter list of strings submarine vizag ghazi attack

ubmarine
izag
hazi
ttack

In [5]:
lstr = list(input('Enter list of strings: ').split())
lstr = [s[1:] for s in lstr if len(s) > 0]  # Remove the first character of each string if the string is not empty
print(lstr)

Enter list of strings:  pradeep loves shailaga(mental girl)

['radeep', 'oves', 'hailaga(mental', 'irl)']