**EDA SESSION 1**

**Exploratory data analysis**

**Data Analysis**
- data frame analysis  :  Pandas
- Numerical analysis  :  Numpy
- for plotting graphs  :  matplotlib
- seaborn  :  plots
- Blokhe   :  plots
- plotly   :  plots

**Machine Learning**

- stats                   :       for statistical models
- scikit-learn(sklearn)   :        ML models

**Deep Learning**

- opencv    :  Computer Vision
  - Pillow    :  Image Operations
  - Tensorflow  :  Neural Network creations (developed by google)
- Keras      :  NN
 - pytorch    :   alternative package of tensorflow(facebook meta)

**NLP**

- NLTK  : Natural language toolkit
- Spacy : Alternative to NLTK
- wordcloud  : most frequent occured words

**Scrapping**

- SQlite   : Data base creation 
- Beautiful soap
- Selenium

**API Creations**

- Flask
- FastAPI
- Gradio
- Django

**UPI APP creation**

- StreamLit

**Transfer learning models(DL)**

- MObilenet
- Resnet
- VGGnet
- Inception
- Yolo  : Ultrlytics

**Transfer learning models(NLP)**

- Word2vec
- Glove

**HUging face transformers**
- Bert : Transfotmers


**Allen NLP**
- Allen NLP Packages 


**GEN AI**
-  Langchain
-  google gemini ai
-  open ai gpt
-  Amazon Bedrock
-  Meta Llama

**Image and Video Generation**

- GAN Models
- sora

**Transfer Learning Models**

- mlflow using databricks
- kubeflow(GCP Account)

**Cloud Applications**

- AZURE ML
- GCP VertexAI
- AWS Sagemaker

**Small Packages**
- Time
- Logging
- Math
- Random
- Env
- Os

- step:1 **import packages**

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plot

- step2: **create a dataframe  using list**

In [21]:
import pandas as pd
activities=['sleep','naturecalls','getready','breakfast','apply','lunch','metabolism']
time=['8hrs','7mins','23mins','15mins','3hrs','28mins','3hrs']
places=['bed','bathroom','room','dininghall','institute','ground','smallthenlargeintestine']
cols=['activities','time','places']
indices=['A','B','C','D','E','F','G']
pd.DataFrame(zip(activities,time,places),index=indices,columns=cols)

    activities    time                   places
A        sleep    8hrs                      bed
B  naturecalls   7mins                 bathroom
C     getready  23mins                     room
D    breakfast  15mins               dininghall
E        apply    3hrs                institute
F        lunch  28mins                   ground
G   metabolism    3hrs  smallthenlargeintestine

In [47]:
import pandas as pd
names=['saiteja','harinarayan','radha','padmavathi']
age=[22,80,79,91]
cty=['hyd','svnhills','dwaraka','svnhills']
pd.DataFrame(zip(names,age,cty))

             0   1         2
0      saiteja  22       hyd
1  harinarayan  80  svnhills
2        radha  79   dwaraka
3     padmathi  91  svnhills

In [49]:
import pandas as pd
names=['saiteja','harinarayan','radha','padmathi']
age=[22,80,79,91]
cty=['hyd','svnhills','dwaraka','svnhills']
datA=zip(names,age,cty)
pd.DataFrame(datA)

             0   1         2
0      saiteja  22       hyd
1  harinarayan  80  svnhills
2        radha  79   dwaraka
3     padmathi  91  svnhills

**step3:Provide the column names**

**Notes**:
- columns should be provided in a list only
- number of columns 3,so we need to provide 3 names
- otherwise we will get error

In [3]:
import pandas as pd
names=['saiteja','dilse','pucho','degi']
a=[22,24,26,28]
places=['rm','fields','hstl','institute']
data=zip(names,a,places)
cols=['names','a','places']
df=pd.DataFrame(data,columns=cols)
df

     names   a     places
0  saiteja  22         rm
1    dilse  24     fields
2    pucho  26       hstl
3     degi  28  institute

In [5]:
import pandas as pd
names=['saiteja','dilse','pucho','degi']
a=[22,24,26,28]
places=['rm','fields','hstl','institute']
data=zip(names,a,places)
cols=['names','a','places']
idx=['a','b','c','d']
df=pd.DataFrame(data,index=idx,columns=cols)
df

     names   a     places
a  saiteja  22         rm
b    dilse  24     fields
c    pucho  26       hstl
d     degi  28  institute

In [3]:
import pandas as pd
names=['saiteja','dilse','pucho','degi']
a=[22,24,26,28]
places=['rm','fields','hstl','institute']
data=zip(names,a)
cols=['names','a','places']
idx=['a','b','c','d']
df=pd.DataFrame(data,index=places)
df

                 0   1
rm         saiteja  22
fields       dilse  24
hstl         pucho  26
institute     degi  28

**CheckPoint**

In [24]:
import pandas as pd
names=['saiteja','adheera','loyala','days']
g=[20,23,25,26]
cty=['hyd','vskp','bza','wgl']
data=zip(names,g,cty)##checkpoint
cols=['names','g','cty']
qw=pd.DataFrame(data,columns=cols)
qw

     names   g   cty
0  saiteja  20   hyd
1  adheera  23  vskp
2   loyala  25   bza
3     days  26   wgl

step-5:**create a DataFrame using dictionary**

In [2]:
import pandas as pd
dict1={'names':['saiteja','adheera','loyala','sameera'],'age':[20,23,25,26],'cty':['hyd','vskp','bza','wgl']}
pd.DataFrame(dict1)

     names  age   cty
0  saiteja   20   hyd
1  adheera   23  vskp
2   loyala   25   bza
3  sameera   26   wgl

In [10]:
names=['saiteja','adheera','loyala','sameera']
g=[20,23,25,26]
cty=['hyd','vskp','bza','wgl']
sz=['names','g','cty']
data=zip(names,g,cty)
w=pd.DataFrame(data,columns=sz)
w

     names   g   cty
0  saiteja  20   hyd
1  adheera  23  vskp
2   loyala  25   bza
3  sameera  26   wgl

step:6  **add a data to empty DataFrame**

In [30]:
import pandas as pd 
df1=pd.DataFrame()
df1['Names']=['saiteja','adheera','loyala','sameera']
df1['age']=[20,23,24,26]
df1['cty']=['hyd','vskp','bza','wgl']
df1

     Names  age   cty
0  saiteja   20   hyd
1  adheera   23  vskp
2   loyala   24   bza
3  sameera   26   wgl

step:7**How to add a new column to existed DataFrame**

- In this Existed dat we need to add a **marks column**
- length of dataframe should be equal to new data 
- number of rows should be equal to new data
    - make a new list with values
    - the length of list should be equal to number of rows

In [7]:
marks=[97,98,99,96]
df1['marks']=marks
df1

     Names  age   cty  marks
0  saiteja   20   hyd     97
1  adheera   23  vskp     98
2   loyala   25   bza     99
3  sameera   26   wgl     96

step-8: **how to overwrite the column values**

In [7]:
df['a']=[22,23,24,25]
df['age']=[22,23,24,25]
df

     names   a     places  age
a  saiteja  22         rm   22
b    dilse  23     fields   23
c    pucho  24       hstl   24
d     degi  25  institute   25

In [19]:
len(df)

4

**Step-9**:**how to delete the column**

- dataframe name is df
- when you apply dir on top of df
- concentrate on axis
- axis =0 indicates rows
- axos =1 indicates columns
- if you provide the column name then give axis=1
- if you provide any index give axis=0
- once you done the operation
- the data will be modified
- if we want to save the modified data in old table name
  - inplace=True

In [9]:
dir(df)

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__arrow_c_stream__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__dataframe__',
 '__dataframe_consortium_standard__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pandas_priority__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_for_op',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_arith_method_with_reindex',
 '_as_manager',
 '_attrs',
 '_box_col_values',
 '_can_fast_transpose',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_result',
 '_constructor',
 '_constructor_from_mgr',
 '_constructor_sliced',
 '_constructor_sliced_from_mgr',
 '_create_data_for_split_and_tight_to_dict',
 '_data',
 '_deprecate_downcast',
 '_dir_additions',
 '_dir_deletions',
 '_dispatch_frame_op',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_flags',
 '_flex_arith_method',
 '_flex_cmp_method',
 '_from_arrays',
 '_from_mgr',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values_for_csv',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_getitem_nocopy',
 '_getitem_slice',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_is_view_after_cow_rules',
 '_iset_item',
 '_iset_item_mgr',
 '_iset_not_inplace',
 '_item_cache',
 '_iter_column_arrays',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_maybe_align_series_as_frame',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_needs_reindex_multi',
 '_pad_or_backfill',
 '_protect_consolidate',
 '_reduce',
 '_reduce_axis1',
 '_reindex_axes',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_series',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_item',
 '_set_item_frame_value',
 '_set_item_mgr',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_shift_with_freq',
 '_should_reindex_frame_op',
 '_slice',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_to_latex_via_styler',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'a',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'age',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isetitem',
 'isin',
 'isna',
 'isnull',
 'items',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'names',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'places',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_flags',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_orc',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'to_xml',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'where',
 'xs']

In [13]:
df

     names   a     places
a  saiteja  22         rm
b    dilse  23     fields
c    pucho  24       hstl
d     degi  25  institute

In [15]:
df.drop('a',axis=1,inplace=True)
df
# is provided value row or column 
# how can we say to the python code
# using axis?

     names     places
a  saiteja         rm
b    dilse     fields
c    pucho       hstl
d     degi  institute

In [28]:
df.drop('age',axis=1,inplace=True)

In [30]:
df

     names   a     places
a  saiteja  22         rm
b    dilse  23     fields
c    pucho  24       hstl
d     degi  25  institute

In [32]:
df.drop('c',inplace=True)
#  by default axis=0 is there

In [34]:
df

     names   a     places
a  saiteja  22         rm
b    dilse  23     fields
d     degi  25  institute

In [38]:
df.drop(columns='a',axis=1,inplace=True)
df

     names     places
a  saiteja         rm
b    dilse     fields
d     degi  institute

**CheckPoint**

- dont concentrate on axis
- we need to use argument name for columns and index

**Step-10: How to rename the column**

**rename under your dataframe name**

In [46]:
d={'places':'visits','names':'instigates'}
df.rename(columns=d)
df

     names     places
a  saiteja         rm
b    dilse     fields
d     degi  institute

step-11:**Drop duplicates**

In [49]:
dict1={'A':[1,2,3,4,5],'B':['apple','banana','strawberry','dragon fruit','bread']}
df2=pd.DataFrame(dict1)
df2

   A             B
0  1         apple
1  2        banana
2  3    strawberry
3  4  dragon fruit
4  5         bread

In [51]:
)df.drop_duplicates(subset=['A'],keep='last')

KeyError: Index(['A'], dtype='object')

In [53]:
df.drop_duplicates(subset=['A'])

KeyError: Index(['A'], dtype='object')

step-12**Save the dataframe**

In [ ]:
# dataframe name: df2
df2.to_csv('data.csv')

**step-13 : read the dataframe**

**step-14 : Index=False**